<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-body-secondary">&copy; 2024–{% now 'Y' %}</small>
        </div>
        <div class="col-6 col-md">
            <h5>О проекте</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none"
                                    href="https://t.me/hozdymvirs">О разработчике</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none"
                                    href="https://t.me/hozdymvirs">Контакты</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Техподдержка</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none"
                                    href="https://t.me/hozdymvirs">Телеграм</a></li>
            </ul>
        </div>
    </div>
</footer>